# Полностью изолируем бэкенд от фронтенда
frontend/
**/node_modules/
**/dist/
**/build/

# Вырезаем окружение Python и кэш
**/.venv/
**/venv/
**/ENV/
**/__pycache__/
**/*.pyc

# Игнорируем базы данных и логи, которые успели накопиться
**/*.sqlite3
**/*.db
**/postgres_data/
**/opensearch_data/
**/*.log

# Игнорируем скрытые папки систем контроля версий и IDE
.git/
.idea/
.vscode/