main.home{
    background-color: #30302e;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
main.home section h2{
    margin-bottom: 14px;
}
main.home .recomendation ul{
    list-style-type: none;
    display: flex;
}
main.home .recomendation ul li{
    cursor: pointer;
    transform-origin: center;
    border-radius: 12px;
    padding: 12px;
}
main.home .recomendation ul li:hover{
    background-color: rgba(0,0,0,0.5);
}
main.home .recomendation ul li img{
    width: 200px;
    transition: transform 0.3s;
    border-radius: 12px;
    margin-bottom: 8px;
    pointer-events: none;
}
main.home .recomendation ul li:hover img{
    transform: scale(1.05);
}
main.home .recomendation ul li .name{
    color: rgba(250, 249, 245, 1);
}
main.home .recomendation ul li .authors{
    color:rgba(194, 192, 182, 1);
}

main.home .history ul{
    list-style-type: none;
}
main.home .history ul li{
    display: flex;
    align-items: center;
    border-radius: 12px;
    cursor: pointer;
    padding: 8px;
    gap: 8px;
    transition: background-color 0.3s;
    height: 70px;
}
main.home .history ul li:hover{
    background-color: rgba(0,0,0,0.5);
}
main.home .history ul li.active{
    background-color: #EEEDFE !important;
    color: #534AB7;
}
main.home .history ul li .cover{
    width: 60px;
    border-radius: 12px;
    transition: transform 0.3s;
}
main.home .history ul li:hover .cover{
    transform: scale(1.05);
}
main.home .history ul li .meta .authors .name{
}
main.home .history ul li .meta .authors{
    color:rgba(194, 192, 182, 1);
}

main.home .history ul li .time{
    margin-left: auto;
}
main.home .history ul.loading li .cover{
    position: relative;
    aspect-ratio: 1;
    overflow: hidden;
}
main.home .history ul.loading li .meta{
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 8px;
}
main.home .history ul.loading li .meta .name{
    width: 75%;
    height: 19px;
    overflow: hidden;
    position: relative;
    border-radius: 12px;
}
main.home .history ul.loading li .meta .authors{
    width: 50%;
    height: 19px;
    overflow: hidden;
    position: relative;
    border-radius: 12px;
}
main.home .history ul.loading li .time{
    width: 15%;
    height: 19px;
    overflow: hidden;
    position: relative;
    border-radius: 12px;
}
main.home .history ul.loading li .cover::after,
main.home .history ul.loading li .meta .authors::after,
main.home .history ul.loading li .meta .name::after,
main.home .history ul.loading li .time::after{
    content: '';
    position: absolute;
    transform-origin: right;
    background: linear-gradient(90deg,
        #3a3a38 33.3%,
        #4a4a48 50%,
        #3a3a38 66.6%);
    inset: 0;
    animation: shimmer 1.4s infinite;
}